<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<script> 
function validarQuantidade(){
	const quantidade = document.getElementById("acompanhante").value;
if (quantidade > 2){
	alert("O campo acompanhante não pode ser maior que 2");
		return false;
			}
	return true;
	}
</script>
<div class="container">
<h1>Convidado</h1>
<form action="/salvar" onsubmit="return validarQuantidade()"  method="post" th:object="${convidado}">
  <div class="row">
  
  <input type="hidden" name="id" th:value="${convidado.id}">
  
      <div class="col">
      <input type="text" class="form-control" placeholder="Nome" name="Nome" required th:value="${convidado.nome}">
    </div>
    
    <div class="col">
      <input type="number" class="form-control" placeholder="Acompanhante" id="acompanhante" name="acompanhante" required th:value="${convidado.numeroAcompanhante}">
    </div>
    
    <div class="col">
      <input type="submit" class="btn btn-success" value="Atualizar">
  </div>
  </div>
</form>
</div>
</body>
</html>
